.ipynb_checkpoints
PyHa/__pycache__
PyHa/microfaune_package/microfaune/__pycache__/*
PyHa/tweetynet_package/tweetynet/__pycache__/*
PyHa/birdnet_lite/__pycache__/*
TEST/*
TESTmp3/*
TESTflac/*
FIELDwav/*
FIELDmp3/*
XCTESTFILEwav/*
XCTESTFILESmp3/*
/mixed_bird/*
mixed_bird_manual.csv
outputs/result.csv
*.wav
*.pyc
*.mp3
PyHa_Model_Comparison.ipynb
PyHa_Testing-Copy1.ipynb
PyHa_Testing.ipynb
outputs/*
*.ipynb
!PyHa_Tutorial.ipynb
*.csv
!ScreamingPiha_Manual_Labels.csv