.ipynb_checkpoints
PyHa/__pycache__
PyHa/microfaune_package/microfaune/__pycache__/*
PyHa/tweetynet_package/tweetynet/__pycache__/*
PyHa/birdnet_lite/__pycache__/*
TEST/*
/mixed_bird/*
mixed_bird_manual.csv
outputs/result.csv
*.wav
*.pyc
outputs/*
*.ipynb
!PyHa_Tutorial.ipynb
!IoU_Performance.ipynb